DATA/API/Controllers/__pycache__/__init__.cpython-312.pyc
DATA/API/Controllers/__pycache__/Controller_Database.cpython-312.pyc
DATA/API/Controllers/__pycache__/Controller_Model.cpython-312.pyc
DATA/API/Models/__pycache__/__init__.cpython-312.pyc
DATA/API/Models/__pycache__/Database.cpython-312.pyc
DATA/API/Models/__pycache__/Model.cpython-312.pyc
DATA/API/Services/__pycache__/__init__.cpython-312.pyc
DATA/API/Services/__pycache__/Service_Database.cpython-312.pyc
DATA/API/Services/__pycache__/Service_Model.cpython-312.pyc
